<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:form="http://www.w3.org/1999/html"
      layout:decorator="layouts/default">
<body>
<div id="page" layout:fragment="content" >
    <div class="container">
    <form:form modelAttribute="users">

    <div class="panel-group col-xs-offset-3 col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading"><h4>User Login</h4></div>
            <div class="panel-body"><td th:text="${user.firstName}"/></div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading"><h4>User Name</h4></div>
            <div class="panel-body">
                <span style="vertical-align:-33%"><td th:text="${user.lastName}"/></span>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading"><h4>User Email</h4></div>
            <div class="panel-body">
                <span style="vertical-align:-33%"><td th:text="${user.email}"/></span>
                <button id="btn-editEmail" type="button" data-toggle="modal" data-target="#emailModal" class="btn pull-right middle btn-primary"><span class="glyphicon glyphicon-pencil"></span>  Edit</button>
            </div>
            <div class ="clearfix"></div>
        </div>
    </div>
    </form:form>


    <div class="modal fade" id="emailModal" role="dialog"> <!--th:attrappend="id=${portalUser}"-->
        <div class="modal-dialog">

            <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Edit Email</h4>
                    </div>
                    <form action="#" th:action="@{edited}" th:object="${user}"
                          method="post">
                        <div class="modal-body">

                                <input type="hidden" th:name="id" th:field="*{id}"/>
                                <input type="hidden" th:name="firstName" th:field="*{firstName}"/>
                                <input type="hidden" th:name="lastName" th:field="*{lastName}"/>
                                <input type="text" th:name="email" placeholder="Email" th:field="*{email}"/>
                        </div>
                        <div class="modal-footer">
                            <button id="submitEditEmail" class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </form>
                </div>
        </div>
    </div>
</div>
</div>
</body>

</html>
