<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/default">
<body>

<div id="page" layout:fragment="content">
<div class="container">


    <table class="table">
        <thead>
        <tr>
            <th><span th:text="#{label.firstName}">First Name</span>  </th>
            <th><span th:text="#{label.lastName}">Last Name</span></th>
            <th><span th:text="#{label.email}">Last Name</span></th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${user != null}">
            <td><span th:text="${user.firstName}">First Name</span></td>
            <td><span th:text="${user.lastName}">Last Name</span></td>
            <td><span th:text="${user.email}">Last Name</span></td>
        </tr>
        <tr th:unless="${user == null}" th:each="user : ${users}">
            <td><span th:text="${user.value.firstName}">First Name</span></td>
            <td><span th:text="${user.value.lastName}">Last Name</span></td>
            <td><span th:text="${user.value.email}">Last Name</span></td>
            <td>
                <form action="#" th:action="@{edit}" method="post">
                    <button th:type="submit" class="btn btn-success" th:name="editUserId" th:value="${user.value.id}">Edit</button>
                </form>
            </td>
            <td>
                <form action="#" th:action="@{delete}" method="post">
                    <button th:type="submit" class="btn btn-success" th:name="deleteButton" th:value="${user.value.id}">Delete</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>

    <a href="post" class="btn btn-success">Post Example</a>
    <a th:href="@{/order/list}" class="btn btn-success">Orders List</a>


</div>
</div>

</body>
</html>