<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/default">
<body>


<form action="#" th:action="@{save}" method="post" th:object="${order}">
    <div class="form-group">
        <input class="form-control" placeholder="Provide Title" th:field="*{title}" />
        <br/>
        <input class="form-control" placeholder="Provide price" th:field="*{price}" />
        <br/>
        <!--Thymeleaf zwraca nam tu toString() tak więc musimy posiłkować się ID w tym przypadku-->
        <select th:object="${user}" class="form-control" th:name="id">
            <option th:each="user : ${users}" th:value="${user.value.id}" th:text="${user.value.firstName} +' '+ ${user.value.lastName}">
            </option>
        </select>
        <br/>
        <input type="submit" class="btn btn-success" id="submitButton" th:value="Save">
    </div>
</form>





</body>
</html>
